@import 'typography';

*,
*::before,
*::after {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-primary-light:#3E8FD0;
    --color-primary-dark:#2d638f;
    --color-secondary:#21232F;
    --color-gray-light:#ccc;
}
html{
    font-size: 62.5%;
}

body{
    background-image:linear-gradient(to right,var(--color-primary-light), var(--color-primary-dark));
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
#load{
    height: 100vh;
    width: 100%;
    top:0;
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12233;
}

.pop-up{
    background-image: linear-gradient(to right, rgba(0,0,0,.8),rgba(0,0,0,.8));
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 99;

    &-content{
        background-color: #fff;
        width:35%;
        text-align: center;
        line-height: 2;
        height:25vh;
        margin:15rem auto;
        border-radius: 10px;
        padding: 1rem;
    }

    &-close{
        font-size: 4.5rem;
        color:#ddd;
        position: absolute;
        top:3rem;
        left:3rem;
        cursor: pointer;
    }
}

.container{
    width:85%;
    height:95vh;
    background-color: #fff;
    margin: 1.4rem auto;
    box-shadow: 1rem 1rem 5rem rgba(0,0,0,.8);
    display:flex;
}

/* Navigation Styling */
.navigation{
    flex:1 10rem;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 300;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: var(--color-secondary);

    &-brand, &-menu { width:100%;}

    &-brand{
        font-size: 1.7rem;
        padding: 3rem 0;
        background-color: var(--color-primary-dark);

        &-link:link,&-link:visited{
            text-decoration: none;
            color: #fff;
        }
    }

    &-item{
        padding: 1.5rem 0;
        margin:1rem 0;
        transition: background-color 1s,
                    border-left 1s;

        &:hover{
            background-color: rgba(0, 0, 0, 0.253);
            border-left: 3px solid var(--color-primary-light);
        }
    }

}
/* End Navigation styling */


/* Links Styling */
.navigation-menu,.content-nav-menu {list-style: none;}
.navigation-link:link,.content-nav-link:link,
.navigation-link:visited,.content-nav-link:visited{
    text-decoration: none;
    color:#fff;
}
/* End link Styling */


/* Content Styling */
.content{
    flex:4 10rem;
    display: flex;
    flex-direction: column;


    &-1{
        display: flex;
        background-color: var(--color-primary-light);
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    &-brand{
        font-size: 1.7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 3rem;
    }

    &-nav{
        color:#fff;
        text-decoration: none;

        &-menu{display: flex;}

        &-item{padding:1rem 2rem; display: flex; align-items: center;}
    }

    &-2{padding: 3rem; position: relative;}

    &-search{ flex:2; display: flex; align-items: center; }


    &-input{
        border-radius: 100px;
        width:70%;
        margin-right: -3rem;   
        border: none;
        padding: 1rem 2rem;
        transition: width .4s;

        &:focus{ width:80%; }
    }
}
/* End Content Styling */


/* Button Styling */
.button{
    border:1px solid #fff;
    padding:1rem 3rem;
    background-color: transparent;
    color:#fff;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform .2s;


    &:hover{ transform: translateY(-1rem); }

    &:focus { outline: none; }
}

/* End Button Styling */

.image {
    height:30rem;
    width:100%;
}

.conversion-input{
    border: 1px solid #999;
    padding:1rem 2rem;
    width:40%;
}

.inputStyle:focus{ outline: none;}

.sub-heading{ font-size: 1.3rem;}

.center{
    position: fixed;
    right: 3.5rem;
    text-align: center;
    font-size: 1rem;;
}
.display-toggle{ display: none;}

table{
    width:50%;
    margin:2rem 0;
}

.img-edit{
    width:8rem;
    height:8rem;
}

#map{
    height:45vh;
    padding-bottom: 1rem;
    // border: 2px solid #000;
}

.convert-heading{
    font-weight: 100;
    font-size: 1rem;
}

.search-svg,.facebook-svg {
    height:2rem;
    width:2rem;
    fill:var(--color-secondary);
    cursor: pointer;
}

.footer{
    display: none;

    &-nav{
        color:#fff;
        font-size: .7rem;
        padding: 1rem 0;
        margin-top: -1rem;
    }
}

@media screen and (max-width:860px) {
    .display-toggle{display: block;}
    .container{
        margin: 0;
        width:100%;
        height:100vh;
    }
    .content{
        height:100vh;
    }

    .navigation{
        display: none;
        position: fixed;
        top:0;
        left:0;
        width:20rem;
        font-size: .7rem;
    }

    .center{
        position: fixed;
        top:15.5rem;
        right: 0rem;
        text-align: center;
    }

    .pop-up{
        &-content{
            width:85%;
            height:35vh;
        }
    }

    #map{
        height:45vh;
    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height:10vh;
        font-size: 1.2rem;
        color: #fff;
        background-color: var(--color-primary-dark);
        margin-top:10.5rem;
    }
}

@media screen and (max-width:521px) {
    .content{
        &-1{ flex-direction: column; }

        &-brand { 
            padding: 1rem;
            font-size: 1rem;
            line-height: 3;
        }

        &-input{
            width:100%;

            &:focus{ width:100%; }
        }
        &-nav-menu{
           margin-top: 1rem;
        }

    }
    #map{
        height:30vh;
    }

    .footer{
        margin-top:2.5rem;
    }
}

@media screen and (max-width:450px) {
    #map{
        height:40vh;
    }
    .center{
       top:19.5rem;
    }
}

@media screen and (max-width:320px){
    #map{
        height:25vh;
    }
    .footer{
        margin-top: -2rem;
    }
}

@media screen and (max-width:290px) {
    .center{
        display: none;
    }
}